body{
    font-family:"Inter";
}
body p{
    color: #acabab;
}
.container{
    width: 75%;
    max-width: 1200;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    
}
#benner{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: calc(1.5);
}

footer{
    background-image: url(./assets/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banner-text h2{
    text-shadow:  10px 10px 2px #fa035e;
    animation: bnrt 3s infinite;
}
.btnn :hover{
    transition: 2s;
}
@keyframes bnrt {
    0% {
        text-shadow: 5px 5px 2px #fa035e;
    }
    100% {
        text-shadow: -5px -5px 5px #fa035e;
    }
}